.container {
  width:100%;
  height:100%; 
  display: flex;
  justify-content: center;
}

@media(max-width: 1024px){
  #main-img-container {
    justify-content: start;
    // margin-left:-1%;
  }
}

#general .stars-span {
	display: block;
}
	
@media(max-width: 1024px){
	#general .general-image {
		// width: 150%;
		// margin-left: -24%;
	}
	
	#general .stars-span {
		// margin-bottom: 19px;
	}
}

#general .star {
  color: #FFD700;
}

#general .set-pieces {
  font-size: 12px;
}

#general .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:0px;
  padding:2px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  border: 2px solid blue;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

@media(max-width: 1024px){
	#general .btn {
		font-size: 28px;
	}
	
	#general .eq-selector-form {
		width: 40%;
	}
	
	#general .star {
		font-size: 28px;
		// margin-bottom: 3px;
	}
	
	#general .set-pieces {
		font-size: 24px;
	}
}

.btn select {
	display: block;
	width: 100%;
}

@media(max-width: 1024px){
	.btn select {
        height: 50px;
        line-height:50px;
        font-size: 28px;
		width: 100%;
	}
}

.btn input[type=checkbox] {
	transform: scale(1.5);

	padding: 1% 1% 1% 1%;	
}

#add-to-comparison-form button {
  position: absolute;
  margin:0px;
  padding:3px 3px 0px 2px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  border-radius: 8px;
  color: white;
  background-color:#3E3E3E;
  // font-size: 16px;
  font: sans-serif;
  font-style: italic; 
}

#add-to-comparison-form span {
  vertical-align: middle;
  margin-top: -24px;
  display:inline-block;
}

@media(max-width: 1024px){
	#add-to-comparison-form button  {
		font-size: 28px;
	}
	#add-to-comparison-form span {
	  margin-top: -18px;
	}
}

.buff-table {
	display: block;
	margin: auto;
}

.buff-table tr th {
	padding:1px 1px 1px 1px;
	text-align:center;
}

.buff-table tr td {
	padding:1px 1px 1px 1px;
	text-align:center;
	// width:8%;
}

.grey {
	background-color: #f2f2f2;
}

@media(max-width: 1024px){
	
	.buff-table tr th {
		font-size: 20px;
	}

	.buff-table tr td {
		font-size: 20px;
	}
}

#battle-types-div {
	width: 50%;
	margin: auto;
}

@media(max-width: 1024px){
	#battle-types-div {
		width: 50%;
		margin: auto;
		font-size: 28px;
	}
}

.stats-title {
	margin:1% 0% 0% 0%;
	font: sans-serif;
}

@media(max-width: 1024px){
	.stats-title {
		margin:1% 0% 0% 0%;
		font: sans-serif;
		font-size: 28px;
	}
}

@media(max-width: 1024px){
	.battle-type  {
		-ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		font-size: 24px;
	}
}

/* Panic message */

.panic-box {
  display: none;
  margin-top: -10%;
  background: red;
  color: white;
  padding: 4px;
  text-align: center;
  width: 40%;
  border: 2px solid white;
  position: absolute;
}

@media(max-width: 1024px){
	.panic-box {
		font-size: 32px;
	}
}

/* Language settings */

.dropbtn {
  background-color:rgba(0, 0, 0, 0);
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 1.5%;
  left: 63%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222222;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.link-disabled {
  pointer-events: none;
  cursor: default;
}

.dropdown-content a:hover {
  background-color: #444444
}

.dropdown:hover .dropdown-content {
  display: block;
}

.equipment-selector-cont {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	// justify-content: space-evenly;
	// align-items: center;
}

.equipment-info-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  // align-content: space-around;
  column-gap: 5px;
}

.equipment-props-and-traits {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.troop-icons-cont {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 1px;
}

.troop {
  border: 1px solid white
}

@media(max-width: 1024px){
	.dropbtn {
		font-size: 32px;
	}
	
	.dropdown {
  		top: 1%;
  		left: 80%;
	}
	
	.dropdown-content a {
	  font-size: 28px;
  	  padding: 10px 10px 10px 10px;
	}
	
	.troop {
		width: 48px;
	}
	
	.btn table {
		width: 100%;
	}
	
	.btn .equipment-pic img {
		width: 112px;
		margin-top: 5px;
	}
}

/* Materials table */

.material-table tr {
	margin: 0px;
	padding: 0px;
}

.material-table tr th {
	// padding:1px 3px 1px 3px;
	// text-align:center;
}

.material-table tr td {
	// padding:1px 3px 1px 3px;
	// text-align:center;
}

.material-table-rows {
	// border: 1px solid black;
	border: 0px;
	font-size: smaller;
}

@media(max-width: 1024px){
	.material-table-rows {
		// border: 1px solid black;
		font-size: 24px;
	}
}

img.material {
	width: 60px;
}

div.layer {
	position: absolute;
	margin-top: -23px;
	height: 20px;
	width: 60px;
	background-color: rgba(0,0,0,0.25);
}

div.count {
	width: 95%;
	text-align: right;
	color: white;
	line-height: 22px;
	font-weight: lighter;
}

@media(max-width: 1024px){
	div.layer {
		margin-top: -24px;
		height: 17px;
	}

	div.count {
		line-height: 12px;
		font-size: 12px;
	}
}

/* Control board */

.ctrl-btn {
 margin: 0px 5px 0px 5px
}

#equipment-config-div {
	width: 70%;
	// left: 15%;
	// height: 80%;
	// top: 5%;
	// position: absolute;
	background-color: #ffffcc;
	border-style: solid;
	border-width: 3px;
}

@media(max-width: 1024px){
	#equipment-config-controls .ctrl-btn {
		font-size: 18px;
	}
}

/* Tooptips (jquery-ui) */

.ui-tooltip {
    padding: 2px 4px;
    background-color: white;
    // font-color: white;
    border-radius: 4px;
    font-size: bold;
}

.tooltip-div {
	font-size: 12px;
}
	
@media(max-width: 1024px){
	.tooltip-div {
		font-size: 28px;
	}
}

/* Slider (jquery-ui) */

#refine-options {
	width:30%;
	display:flex;
	justify-content:center;
}

@media(max-width: 1024px){
	#refine-options {
		-ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		// font-size:20px;
		margin-bottom: 25px;
	}
}

.refiner-div {
	width:30%;
	display:block;
	justify-content:center
}
	
#refine-handle {
  height: 18px;
  width: 40px;
  font-size: 14px;
  text-align: center;
  float: left;
  clear: left;
  background: #7F7F7F; 
  color: white;
  font-weight: bold;
}

#refine-slider .ui-slider-range { background: #BFBFBF; }

#refine-slider .ui-slider-handle { border-color: #000000; }

@media(max-width: 1024px){
	.refiner-div {
		width:50%;
	}

	#refine-slider .ui-slider-handle {
		width: 60px;
		height: 36px;
		//top: 50%;
		margin-top: -6px;
		text-align: center;
		font-size: 28px;
		//line-height: 10px;
	}
}

.footer {
	margin-top: 1%; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}

@media(max-width: 1024px){
	.footer {
		margin-top: 3%; 
	}
}